
label {
    display: inline-block;
    width: 50px;
    margin-right: 10px;
    text-align: right;
}

.row {
    height: 1px;
    display: flex;
    justify-content: center;
}

.row div {
    width: 1px;
    height: 100%;
}

.row div.black {
    background-color: black;
}

